.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
}
.contacts__item:nth-child(n + 2) {
  margin-left: 50px;
}
.contacts__icon {
  vertical-align: middle;
  margin-right: 10px;
}
.icon__mail {
  width: 16px;
  height: 12px;
}
.icon__tell {
  width: 10px;
  height: 16px;
}
.contacts__link {
  display: block;
  text-decoration: none;
  color: var(--second-color);
  padding: 32px 0;
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing);
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--hover-color);
}

.contacts__icon:hover,
.contacts__icon:focus {
  fill: var(--hover-color);
}
