.header {
  border-bottom: 1px solid var(--heder-line);
  max-width: 479px;
  display: block;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  padding: 16px 0;

  @media screen and (min-width: 1200px) {
    padding: 24px 0 25px 0;
  }
}
.open-menu-btn {
  width: 40px;
  height: 40px;
  background: transparent;
  fill: var(--logo-dark);
  margin-left: auto;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: fill;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing);
  &:hover,
  &:focus {
    fill: var(--hover-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mob_menu__icon {
  width: 24px;
  height: 16px;
}
