.portfolio__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio__list > li:nth-child(n + 2) {
  margin-left: 8px;
}
.portfolio__buttons {
  background-color: var(--second-background-color);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  transition-property: background, color, box-shadow;
  transition-duration: var(--animation-duration), var(--animation-duration),
    var(--animation-duration);
  transition-timing-function: var(--animation-timing), var(--animation-timing),
    var(--animation-timing);
}
.portfolio__buttons:focus,
.portfolio__buttons:hover,
.portfolio__current {
  color: var(--contrast-color);
  background-color: var(--hover-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
