.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.portfolio-projects__item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  display: block;
  background-color: var(--contrast-color);
}
.portfolio-projects__link {
  text-decoration: none;
  display: block;
  transition-property: box-shadow;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing);
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.portfolio-projects__card {
  border: 1px solid #eeeeee;
  border-top: 0;
  box-sizing: border-box;
  padding: 20px 24px;
}
.portfolio-projects__name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-color);
}
.portfolio-projects__type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
