.team {
  background: var(--second-background-color);
}
.team-header {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  li:nth-child(n + 2) {
    margin-left: 30px;
  }
}
.team-list__member {
  background: var(--contrast-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(156, 138, 138, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.team-list__card {
  box-sizing: border-box;
  padding: 30px 32px;
}
.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.team-list__position {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 16px;
}
