.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;

    font-size: 12px;
    line-height: 1.167;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.contacts__item:first-child {
  margin-bottom: 10px;
  @media screen and (min-width: 1200px) {
    margin: 0 30px 0 0;
  }
}
.contacts__icon {
  vertical-align: middle;
  margin-right: 10px;
  &:hover,
  &:focus {
    fill: var(--hover-color);
  }
}
.icon__mail {
  width: 14px;
  height: 10px;
  @media screen and (min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}
.icon__tell {
  width: 10px;
  height: 14px;
  @media screen and (min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}
.contacts__link {
  display: block;
  text-decoration: none;
  color: var(--second-color);
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing);
  &:hover,
  &:focus {
    color: var(--hover-color);
  }
}
.contacts__link-mail {
  @media screen and (min-width: 768px) {
    padding-top: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding: 32px 0;
  }
}
.contacts__link-tell {
  @media screen and (min-width: 768px) {
    padding-bottom: 21px;
  }
  @media screen and (min-width: 1200px) {
    padding: 32px 0;
  }
}
