.portfolio-projects__overflow {
  position: relative;
  overflow: hidden;
}
.portfolio-projects__object {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--contrast-color);
  padding: 63px 23px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56em;
  letter-spacing: 0.03em;
  transform: translatey(101%);
  transition-property: transform;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-timing);
}
.portfolio-projects__link:hover .portfolio-projects__object,
.portfolio-projects__link:focus .portfolio-projects__object {
  transform: translatey(0);
}
