.socials {
  display: flex;
  justify-content: center;
}
.socials__icon-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
  &:first-child {
    margin-left: 0;
  }
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition-property: background, color;
  transition-duration: var(--animation-duration), var(--animation-duration);
  transition-timing-function: var(--animation-timing), var(--animation-timing);
  &:hover,
  &:focus {
    background-color: var(--hover-color);
    color: var(--contrast-color);
  }
}
.socials_link--dark {
  color: var(--social-link);
}
.socials_link--light {
  color: var(--contrast-color);
  background: var(--social-link-dark-bg);
}
.socials__icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: currentColor;
}
