.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition-property: opacity, visibility;
  transition-duration: var(--animation-duration), var(--animation-duration);
  transition-timing-function: var(--animation-timing), var(--animation-timing);
}
