:root {
  --main-color: #212121;
  --second-color: #757575;
  --hover-color: #2196f3;
  --logo: #2196f3;
  --logo-dark: #000000;
  --logo-light: #ffffff;
  --contrast-color: #ffffff;
  --third-color: #000000;
  --hero-background-color: #2f303a;
  --footer-background-color: #2f303a;
  --elements-background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --page-background-color: #ffffff;
  --adress-color: rgba(255, 255, 255, 0.6);
  --heder-line: #ececec;
  --social-link: #afb1b8;
  --clients-link: #afb1b8;
  --footer-social: #ffffff;
  --animation-duration: 250ms;
  --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --modal-close: #afb1b8;
  --modal-label: #757575;
  --modal-focus: #2196f3;
  --modal-link: #2196f3;
}
